<div class='page'>
  <main class="page-wrapper">
    {{#> AuthForm title="Вход" }}
      {{{Login}}}
      {{{Password}}}
      {{{ButtonSubmit}}}
      {{{LinkToRegistration}}}
    {{/AuthForm }}
  </main>
  {{{DevModeNav}}}
</div>
