{{#if label}}
	<label for={{name}} class='form-field__label'>{{label}}</label>
{{/if}}
{{#if value}}
	<input
		type={{type}}
		name={{name}}
		value={{value}}
		class='form-field__input'
	/>
{{else}}
	<input type={{type}} name={{name}} class='form-field__input' />
{{/if}}