<div class='page'>
  <div class="page-wrapper profile-page">
    {{{BackLink}}}
    <main class="profile">
      <form class="profile__form">
        {{{Avatar}}}
        <h4>{{name}}</h4>
        {{#each Fields}}
          {{{this}}}
        {{/each}}
      </form>
      <section>
        {{#each FormLinks}}
          {{{this}}}
        {{/each}}
      </section>
    </main>
  </div>
  {{{DevModeNav}}}
</div>
