<div class="form-field">
    <label for={{name}}>{{label}}</label>
    <input type={{type}} name={{name}} required>
</div>


<link rel='stylesheet' href='{{resolve-from-root "styles/form-field.scss"}}'/>