<div class="form-field">
    <label for={{name}}>{{label}}</label>
    {{#if value}}
    <input type={{type}} name={{name}} value={{value}}>
    {{else}}
    <input type={{type}} name={{name}}>
    {{/if}}
</div>
